<%= form_tag(repos_path) do %>
  <label for="githubpath_tag">Votre fichier : </label>
  <input id="githubpath_tag" name="githubpath" type="text" /><br />
  <input id="submit_tag" type="submit" value="Envoyer" />
<% end %>
